/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b {
    font-weight: bold;
}
/*_____________________________________________________________________Base_*/
html {
    height: 100%;
}

body {
    height: 100%;
    color: #272727;
    font-size: 13px; /*/1.231 arial,helvetica,clean,sans-serif;*/
    line-height: 1.231;
    font-family: verdana, Arial,sans-serif;
    /*background: #f2f2f2 url('/static/header-gradient.png') repeat-x top left;*/
}
h1,h2,h3,h4,h5,h6,strong {
   /*bringing boldness back to headers and the strong element*/
    font-weight: bold;
    margin-bottom: .3em;
}
h1 {
    font-size: 28px;
    margin-bottom: 1em;
    border-bottom: 3px dotted #ccc;
}
h2 {
    font-size: 14px;
}
h3 {
   /*14px via YUI Fonts CSS foundation*/
   font-size:108%;  
}
h2,h3 {
   /* top & bottom margin based on font size */
   margin-bottom: .3;
}
hr {
   border: none;
   height:1px;
   background-color: #DFECFF;
   clear: both;
}
abbr,acronym {
   /*indicating to users that more info is available */
   border-bottom:1px dotted #000;
   cursor:help;
} 
em {
   /*bringing italics back to the em element*/
   font-style:italic;
}
blockquote,ul,ol,dl {
   /*giving blockquotes and lists room to breath*/
   /* margin:1em; */
}
ol,ul,dl {
   /*bringing lists on to the page with breathing room */
    /*margin-left:2em; */
}
ol li {
   /*giving OL's LIs generated numbers*/
   list-style: decimal inside;  
}
ul li {
   /*giving UL's LIs generated disc markers*/
   /*list-style: disc outside;*/
}
dl dd {
   /*giving UL's LIs generated numbers*/
   margin-left:1em;
}
dt {
	font-weight: bold;
}
caption {
   /*coordinated marking to match cell's padding*/
   margin-bottom:.5em;
   /*centered so it doesn't blend in to other content*/
   text-align:center;
}
p,fieldset,table {
   /*so things don't run into each other*/
   /*margin-bottom:1em;*/
}
p {
   margin-bottom:1em;
}
input[type=submit], button {
    cursor: pointer;
    padding: 3px;
}
input[type=text], input[type=password], textarea{
    border-color:#C0C0C0 #D9D9D9 #D9D9D9;
    border-width: 1px;
    border-style: solid;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}



input, select {
   padding: 2px;
}
button, input[type=submit] {
	/*padding: 4px 10px;*/
}

/* only works if img is a block */
a img {
    text-decoration: none;
}
a {
    color: #0099ff;;
	text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height: 1.5;
}

/*____________________________________________________________________Table_*/
table{
    border-collapse: separate;
    border-spacing: 0;
}

thead {
	border-spacing: 0;
}

th {
	font-weight: normal;
	text-align:center;
}

tr.odd {
	background-color:#EDF5FF;

}
th,td {
    padding:4px 10px;
    vertical-align: top; 
}

td {
}

tr {
	align: top;
}

/*_____________________________________________________________________Form_*/

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

form {
    width: 400px;
    margin: 0 auto;
}
textarea{
   height: 100px;
   overflow: auto; 
   vertical-align: top; 
   /*resize: vertical;*/
}

textarea, input {
     width:100%;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

input[type=text], input[type=password], textarea{
    padding: .5em;
}
label{
    /*font-size: 18px;*/
    display: block;
}


input[type="submit"] {
    display: block;
}

.ui-placeholder{
    color: #ccc;
}

.deform .req {
    color: red;
}
.deform label.desc {
    display: block;
}
.deform ul {
    margin: 0;
    padding: 0;
}
.deform li {
    clear: both;
    display: block;
    margin: 6px 0;
    padding: 3px;
}
.deformClosebuttonActive {
    border: 0 none;
    cursor: pointer;
    float: left;
}
.deformClosebuttonActive:before {
    color: red;
    content: "✖";
    margin-right: 2px;
}
a.deformSeqAdd:visited {
    color: blue;
}
div.deformReplaces {
    float: left;
}
.deformSet-item {
    padding: 1px;
    float: left;
    clear: none !important;
}
.deform ul.inline > li {
    display: inline-block;
}
.deform .errorLi {
    text-align: center;
    padding-top: 10px;
}
.deform p.error, .deform p.errorMsg {
    color: #DF0000;
}
.deform p.error {
    /*font-size: 70%;*/
}
.deform li.error input,
.deform li.error textarea {
    border: 1px solid #EE6666;
}
.deform p.error {
    font-size: 13px;
    margin-bottom: 0;
}

/*__________________________________________________________________Classes_*/

@font-face {
    font-family: 'LinuxLibertineORegular';
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_re-4.7.5ro-webfont.eot');
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_re-4.7.5ro-webfont.eot?iefix') format('eot'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_re-4.7.5ro-webfont.woff') format('woff'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_re-4.7.5ro-webfont.ttf') format('truetype'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_re-4.7.5ro-webfont.svg#webfontIgdJI780') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LinuxLibertineOItalic';
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_it-4.2.6ro-webfont.eot');
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_it-4.2.6ro-webfont.eot?iefix') format('eot'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_it-4.2.6ro-webfont.woff') format('woff'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_it-4.2.6ro-webfont.ttf') format('truetype'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_it-4.2.6ro-webfont.svg#webfontk0WmrDaO') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LinuxLibertineOBold';
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_bd-4.1.5ro-webfont.eot');
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_bd-4.1.5ro-webfont.eot?iefix') format('eot'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_bd-4.1.5ro-webfont.woff') format('woff'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_bd-4.1.5ro-webfont.ttf') format('truetype'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_bd-4.1.5ro-webfont.svg#webfontvwcjcclS') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LinuxLibertineOBoldItalic';
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_bi-4.1.0ro-webfont.eot');
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_bi-4.1.0ro-webfont.eot?iefix') format('eot'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_bi-4.1.0ro-webfont.woff') format('woff'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_bi-4.1.0ro-webfont.ttf') format('truetype'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_bi-4.1.0ro-webfont.svg#webfontmbtC8Tcg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LinuxLibertineOCRegular';
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_c-4.0.4ro-webfont.eot');
    src: url('/static/Linux-Libertine-fontfacekit/linlibertine_c-4.0.4ro-webfont.eot?iefix') format('eot'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_c-4.0.4ro-webfont.woff') format('woff'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_c-4.0.4ro-webfont.ttf') format('truetype'),
         url('/static/Linux-Libertine-fontfacekit/linlibertine_c-4.0.4ro-webfont.svg#webfont07SwYHhC') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clear {
    clear: both;
    float: none;
    font-size: 0;
    height: 1px
    line-height: 0;
    overflow: hidden;
    width: 1px;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
} 
/* ie 7 clear fix 
 * www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/  
 */
.clearfix {display:inline-block;}

/* Hides from IE-mac \*/
    * html .clearfix { height:1% }
    .clearfix {display:block;} /* ie7 clear fix */
/* End hide from IE-mac */

.has-disc li{
   list-style-type: disc;     
}
/*
.rounded {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
*/
.spaced li{
	margin-bottom: 1em;
}

.red {
	color: #cd0000;
}

.bold {
    font-weight: bold;
}   
#flash {
    background-color: #FFFFCC;
    border: 2px solid #FFFF00;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;
    text-align: center;
}

.shadow {
    -moz-box-shadow: 0px 2px 1px #ccc;
    -webkit-box-shadow: 0px 2px 1px #ccc;
    box-shadow: 0px 1px 2px #ccc;
    behavior: url(/static/PIE.htc);
}
.rounded{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(/static/PIE.htc);
}

.error-message{
    color: red;
}

/* For image replacement */
.ir { display: block; 
    border: 0; text-indent: -999em; 
    overflow: hidden; #85BF00
    background-color: transparent; 
    background-repeat: no-repeat; text-align: left; direction: ltr; 
}
.ir br { display: none; }

/*___________________________________________________________________Buttons*/
.buttons {
    padding-bottom: 20px;
    clear: both;
    text-align: center;
}

.button{
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    color: #333;
    border: 3px solid #C3D9FF;

    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    /*gradient*/
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#F2F6FF));
    background: -webkit-linear-gradient(#ffffff, #F2F6FF);
    background: -moz-linear-gradient(#ffffff, #F2F6FF);
    background: -ms-linear-gradient(#ffffff, #F2F6FF);
    background: -o-linear-gradient(#ffffff, #F2F6FF);
    background: linear-gradient(#ffffff, #F2F6FF);
    -pie-background: linear-gradient(#ffffff, #F2F6FF);
    behavior: url(/PIE.htc);
    /*border*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    behavior: url(/static/PIE.htc);
}
.button:hover {
    border-color: #89B4FF;
    -webkit-box-shadow: #ccc 0px 1px 0px;
    -moz-box-shadow:    #ccc 0px 1px 0px;
    box-shadow:         #ccc 0px 1px 0px;
    behavior: url(/static/PIE.htc);
}



.green {
    background: #CDEB8B;
    border-color:#CDEB8B;
    color: #666;
    text-shadow: none;
}
.green:hover {
    border-color:#85BF00;
}



/*___________________________________________________________Main Div Setup_*/


body {
    background-color:#FDFDFD;
/*    background: url(/static/bg.gif) repeat top left;*/
}   

#doc2 {
    width: 750px;
    margin: 0 auto;
}

#hd {
    margin: 0 auto;
    margin-bottom: 40px;
}
.content {
    width: 900px;
    margin: 0 auto;
}

#bd {
    margin: 0 auto;
}

#hd h2#logo {
    float: left;
    width: 198px;
    height: 44px;
    border: none;
    padding: 0;
    margin: 0;
    background: url(/static/logo.png) no-repeat top left;
    behavior: url(/static/PIE.htc);
    -pie-png-fix: true;
}
#ft {
    margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 20px;
    border-top: 1px solid #f3f3f3;
    text-align: center;
}
/*__________________________________________________________Main Navigation_*/

#nav {
    margin: 0;
    float: left;
    margin-top: 9px;
    margin-left: 60px;
}

#nav li {
    list-style-type: none;
    float: left;
	font-size: 14px;
    margin: 0 5px;
    color: #fff;
}

#nav a{
    display: block;
}
#nav .active a{
    /*font-weight: bold;*/
    /*border-bottom: 2px solid DeepSkyBlue;*/
}


#login-nav a{
}

#login-nav {
    float: right;
}


/*__________________________________________________________________Home*/




.oval-speech-border:after {
    background: none repeat scroll 0 0 transparent;
    border-bottom-right-radius: 40px 50px;
    border-color: #F3961C;
    border-style: solid;
    border-width: 0 10px 10px 0;
    bottom: -40px;
    content: "";
    display: block;
    height: 31px;
    margin-right: 20px;
    position: absolute;
    right: 50%;
    width: 20px;
    z-index: 2;
}
.oval-speech-border:before {
    background: none repeat scroll 0 0 transparent;
    border-bottom-right-radius: 80px 50px;
    border-color: #F3961C;
    border-style: solid;
    border-width: 0 10px 10px 0;
    bottom: -40px;
    content: "";
    display: block;
    height: 30px;
    margin-right: -10px;
    position: absolute;
    right: 50%;
    width: 50px;
    z-index: 2;
}
.oval-speech-border {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #F3961C;
    border-radius: 240px 240px 240px 240px / 140px 140px 140px 140px;
    color: #333333;
    margin: 1em auto 60px;
    padding: 70px 30px;
    position: relative;
    text-align: center;
}

.oval-speech-border > *:first-child:after {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: -10px;
    content: "";
    height: 15px;
    position: absolute;
    right: 50%;
    width: 30px;
    z-index: 1;
}
.oval-speech-border > *:first-child:before {
    background: none repeat scroll 0 0 #F3961C;
    border-radius: 10px 10px 10px 10px;
    bottom: -40px;
    content: "";
    height: 10px;
    margin-right: 45px;
    position: absolute;
    right: 50%;
    width: 10px;
    z-index: 1;
}

.sml {
    border-width: 5px;
}

.sml:before {
    border-width: 0 5px 5px 0;
}

.sml:after {
    width: 12px;
}

.sml > *:first-child:before {
    width: 5px;
}


#home #flash{
    display: none;
}

.triangle-border.left:after {
    border-color: transparent #FFFFFF;
    border-width: 9px 21px 9px 0;
    bottom: auto;
    left: -21px;
    top: 16px;
}
.triangle-border:after {
    border-color: #FFFFFF transparent;
    border-style: solid;
    border-width: 13px 13px 0;
    bottom: -13px;
    content: "";
    display: block;
    left: 47px;
    position: absolute;
    width: 0;
}
.triangle-border.left:before {
    border-color: transparent #5A8F00;
    border-width: 15px 30px 15px 0;
    bottom: auto;
    left: -30px;
    top: 10px;
}
.triangle-border:before {
    border-color: #5A8F00 transparent;
    border-style: solid;
    border-width: 20px 20px 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 40px;
    position: absolute;
    width: 0;
}
.triangle-border.left {
    margin-left: 30px;
}
.triangle-border {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #5A8F00;
    border-radius: 10px 10px 10px 10px;
    color: #333333;
    margin: 1em 0 3em;
    padding: 15px;
    position: relative;
}

#third .triangle-border {
    width: 255px;
    float: right;
    margin-top: 0;
}


.col_1, .col_2{
    width: 47%; 
}
.col_1 {
    float: left;
}
.col_2{
    float: right; 
}

#home h1 {
    color: #272727;
    font-family: 'LinuxLibertineOItalic', serif;
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    text-align: center;
}
#home h2 {
    font-size: 32px;
    margin-bottom: .5em;
    color: #111;
    font-family: 'LinuxLibertineORegular', serif;
    border-bottom: 1px solid #F3F3F3;
    font-weight: normal;
}


#home form {
    text-align: center;
}


#home td{
    font-size: 15px;
    text-align: left;
    padding: .5em 0;
    border-bottom: 3px dotted #CDEB8B;
}
#home td p{
    margin-bottom: 0;
}

#home .num {
    width: 60px;
    text-align: center;
    vertical-align: middle;
}
#home .no-border td{ 
    border-bottom: 3px dotted #fff;
}
#home #how-it-works span{
    font-size: 24px;
}


.circle{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 1.6;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;

    background-color: #5A8F00;


    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*
    -webkit-box-shadow: #666 0px 1px 1px;
    -moz-box-shadow: #666 0px 1px 1px;
    box-shadow: #666 0px 1px 1px;*/
    /*background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C91E24), to(#8E0609));
    background: -moz-linear-gradient(center right, #850C12, #E04E73);
    background: -webkit-linear-gradient(#E04E73, #850C12);
    background: linear-gradient(#E04E73, #850C12);
    -pie-background: linear-gradient(#E04E73, #850C12);*/
    behavior: url(/static/PIE.htc);
}

#points h3{
   font-size: 18px; 
}

#points {
    font-size: 15px;
}
#points li {
    margin-bottom: 1em;
    width: 30%;
    float: left;
    margin-right: 3%;
}



#home .deform .buttons{
    float: none;
}

#home form{
    width: 350px;
    margin: 0 auto;
    position: relative;
}


#home #field1 {
    position: relative;
}

#home #field1 label {
    margin-bottom: 5px;
}

#home #field1 textarea {
    margin: 0 auto;
    height: 100px;
    font-size: 16px;
}



#home #field2, #home #field3 {
    /*margin-top: -1px;*/
    margin-left: 5px;
}

#home #field3 input{
    /*margin-left: -1px;*/
}

#home .buttons {
    margin-top: 0;
}   

#home .buttons {
    margin-right: 10px;
}

#home #field2 label, #home #field3 label {
    line-height: 1.6;
    display: inline;
    width: 80px;
}


#home #field2 input,
#home #field3 input {
   width: 165px; 
   padding: 2px;
   padding-left: 5px;
}

#home #field3 label {
    margin-left: -22px;
}

#lightbox {
    font-family: georgia, serif;
    font-style: italic;
    font-size: 32px;
    color: #000;
    font-weight: normal;
}


#home .arrows li{
    background: url(/static/arrow_red.png) no-repeat top left;
    padding-left: 50px;
    margin-bottom: 30px;
    list-style: none;
}


/*______________________________________________________________List  Wishes*/
#wishes blockquote {
    width: 240px;
}
#wishes li{
    float: left;
    margin: 0 20px 20px 0;
}
/*________________________________________________________________Show  Wish*/
#wish blockquote#main{
    width: 500px;
    margin: 0;
    font-size: 24px;
    float: left;
}
#wish blockquote p{
    margin-bottom: 0;
}   
#reply {
    text-align: right;
}


#reply a{
   width: 66px; 
   margin:0;
   right: 30px;
   position: absolute;
}


#reply svg{
    float: left;
}

#wish blockquote:last-child {
}
#reply-sign {
    float: left;
    margin-top: -6px;
}
.reply {
    float: right; 
    width: 200px;
    margin-right: 10px;
}

/*_______________________________________________________________Show  Reply*/

#show-reply .desc{
   font-weight: bold; 
}

/*_________________________________________________________________Answers*/



/*_________________________________________________________________Conclusion*/
#conclusion textarea {
    width: 600px;
    height: 300px;
}

/*_________________________________________________________________Item List*/
#list th{
    font-weight: bold;
    text-align: left;
}

table#list {
    width: 100%;
}

/*_________________________________________________________________Summary*/

#summary #list {
    
}


#summary div#list .odd{
    float: right; 
    clear: right;
}
#summary #list ul {
    width: 300px;
    float: left;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 25px;
}


/*__________________________________________________________________Letter*/
#letter {
    font-size: 16px;
    border: 5px solid skyblue;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: url(/static/PIE.htc);
}

#letter p{
    text-indent: 20px;
}

#salutation {
    margin-bottom: .5em;
    font-weight: bold;
}
#closing {
    float: right;
    margin-right: 50px;
    margin-top: 1em;
}   

/*__________________________________________________________________Bizcard*/
#bizcard li{
    margin-bottom: 5px; 
    text-align: center;
}

#bizcard .company{
    font-weight: bold;
    text-align: center;
}
#bizcard .message{
    text-align: left;
}


/*____________________________________________________________Speech Bubbles*/
/* ============================================================================================================================
== RECTANGLE-BORDER STYLE WITH CURVE
** ============================================================================================================================ */
.rectangle-speech-border {
	position: relative; 
	padding: 10px; 
	margin: 1em 0 3em;
	border: 10px solid #CDEB8B; 
	text-align: center; 
	color:#333;
	background:#fff; 
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
    behavior: url(/static/PIE.htc);
}
/* creates larger curve */
.a1{
	content:""; 
	position:absolute; 
	z-index:10; 
	bottom:-40px; 
	left:50px; 
	width:50px; 
	height:30px;
	border-style:solid; 
	border-width:0 10px 10px 0; 
	border-color:#CDEB8B; 
	background:transparent;
	/* css3 */
	-webkit-border-radius: 0 0 80px 0 / 0 0 50px 0;
	-moz-border-radius: 0 0 80px 0 / 0 0 50px 0;
	border-radius: 0 0 80px 0 / 0 0 50px 0;
    behavior: url(/static/PIE.htc);
    /* reduce the damage in FF3.0 */
    display:block; 
}
/* creates smaller curve */

.a2{
	position:absolute; 
	z-index:10; 
	bottom:-40px; 
	left:50px; 
	width:20px; 
	height:30px; 
	border-style:solid; 
	border-width:0 10px 10px 0; 
	border-color:#CDEB8B; 
	background:transparent;	
	-webkit-border-radius: 0 0 40px 0 / 0 0 50px 0; 
	-moz-border-radius: 0 0 40px 0 / 0 0 50px 0; 
	border-radius: 0 0 40px 0 / 0 0 50px 0; 
    behavior: url(/static/PIE.htc);
    display:block; 
}

.a3 {
	position:absolute; 
	bottom:-40px; 
	left:45px; 
	width:10px; 
	height:10px;
	background:#CDEB8B;	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
    behavior: url(/static/PIE.htc);
}

.a4 {
	position:absolute; 
	bottom:-10px; 
	left:76px; 
	width:24px; 
	height:15px; 
	background:#fff;
}


.light-yellow { border-color:  #FFFF88; }
.light-yellow .a1 { border-color: #FFFF88;}
.light-yellow .a2 { border-color: #FFFF88; }
.light-yellow .a3 {  background: #FFFF88;}

.right-tip .a1 {
    left: auto;
    right: 50px;
    border-width: 0 0 10px 10px;
	-webkit-border-radius: 0 0 0 80px / 0 0 0 50px; 
	-moz-border-radius: 0 0 0 80px / 0 0 0 50px; 
	border-radius: 0 0 0 80px / 0 0 0 50px; 
    behavior: url(/static/PIE.htc);
}
.right-tip .a2 {
    left: auto;
    right: 50px;
    border-width: 0 0 10px 10px;
	-webkit-border-radius: 0 0 0 40px / 0 0 0 50px; 
	-moz-border-radius: 0 0 0 40px / 0 0 0 50px; 
	border-radius: 0 0 0 40px / 0 0 0 50px; 
    behavior: url(/static/PIE.htc);
}
.right-tip .a3 {
    left: auto;
    right: 48px;
}
.right-tip .a4 {
    left: auto;
    right: 76px;
}



/*long stings like a link will overflow the quote */
blockquote p{
    overflow: hidden;
}


