/* For image replacement */
.ir { display: block; 
    border: 0; text-indent: -999em; 
    overflow: hidden; #85BF00
    background-color: transparent; 
    background-repeat: no-repeat; text-align: left; direction: ltr; 
}


body {
    /*border-top: 2px solid #D51535;*/
    background: #BFD6EE url(/static/bg.png) repeat top left;

}


.container > footer p {
    text-align: center; /* center align it with the container */
}


.alert-message {
    width: 300px;
    margin: 0 auto;
}

.topbar {
    position: static;
}

.topbar-inner, .topbar .fill {

    border-top: 2px solid #D51535;
    background: none;
    box-shadow: none;
    /*
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top , #ddd, #fff);
    background-repeat: repeat-x;
    box-shadow: none
    */
}


.topbar a {
    color: #BFBFBF;
    color: #333;
}
/*.topbar a, #login-nav a{
    display: block;
    color: #333;
    border: 1px solid transparent;
    text-shadow: 1px 1px 0px white;
    padding: 5px 10px;
}
*/
.topbar .brand {
    padding: 0;
    padding-right: 20px;
}

.brand span {
    width: 150px;
    height: 36px;
    background-image: url('/static/logo.png');
}

/*______________________________________________________________Segments*/

#wishes {
    overflow: visible !important;
}   
#wishes blockquote {
    width: 220px;
}
#wishes > li{
    float: left;
    margin: 0 20px 20px 0;
    display: inline-block;
}

.altered {
    background: url('/static/fabric_plaid.png');

    background: -moz-linear-gradient(#fefefe, #fff) ;
    padding: 20px;
    box-shadow: 1px 1px 4px #999;
}


.reply-form {
/*    background: #BFD6EE url(/static/bg.png) repeat top left;*/
    /*background-color: #f7f7f7;*/
    padding-left: 0;
    margin-top: -20px;
}

.reply-form textarea {
     width:100%;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.reply-form label{
    display: none;
}
form ul li { 
    list-style: none;
}

.hero-unit form .buttons {
    margin-left: 200px;
}
.hero-unit form {
    margin-left: 130px;
}
/*____________________________________________________________Speech Bubbles*/

/*long stings like a link will overflow the quote */
blockquote.bubble p{
    overflow: hidden;
}
.electric-blue {
    border-color: #00DEF2;
}
.title {
    /*margin-right: -10px;*/
    float: right;
    height: 1.3em;
    overflow: hidden;
    clear: both;
}
.title a{
    background-color: #fff;
    padding: 0 5px;
}

blockquote p {
    font-size: 13px;
}

.bubble{
	position: relative; 
	padding: 10px; 
	text-align: center; 
    border-width: 1px;
    border-style: solid;
	color:#333;
	background: #fff; 
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
    behavior: url(/static/PIE.htc);
}
.svg-speechpointer {
    position: absolute;
    bottom: -8px;
    z-index: 10;
    stroke-width: 1px;
}
.tip-right .svg-speechpointer {
    right: -8px;

}   
.tip-left .svg-speechpointer {
    left: -14px;
} 
blockquote.tip-right {
    border-color:  #FFFF00; 
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#FFFFCC));
    background: -webkit-linear-gradient(#ffffff, #FFFFCC);
    background: -moz-linear-gradient(#ffffff, #FFFFCC);
    background: -ms-linear-gradient(#ffffff, #FFFFCC);
    background: -o-linear-gradient(#ffffff, #FFFFCC);
    background: linear-gradient(#ffffff, #FFFFCC);
    -pie-background: linear-gradient(#ffffff, #FFFFCC);
    behavior: url(/static/pie.htc);

}
.tip-right svg path{
    stroke: #FFFF00;    
    fill: #FFFFCC;
}
blockquote.tip-left {
    border-color: #70CAFF;
    background: -moz-linear-gradient(#fff, #E5F5FF);
    /*text-shadow: 1px 1px 0px #666;*/
}

.reverse-bubble {
    background: -moz-linear-gradient( #E5F5FF, #fff) !important;
}
.zip-code {
    text-align: left;
    color: #ccc;
    font-size: 11px;
    float: left;
    position: absolute;
    left: 12px;
    bottom: 5px;
}
.reply {
    float: right;
    margin-top: -5px;
    margin-right: 2px;

}
.clearfx:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
} 
/* ie 7 clear fix 
 * www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/  
 */
.clearfx {display:inline-block;}

/* Hides from IE-mac \*/
    * html .clearfx { height:1% }
    .clearfx {display:block;} /* ie7 clear fix */
/* End hide from IE-mac */



/*______________________________________________________________Segments*/
.sidenav li a{
  text-shadow: 1px 1px 0 #fff;
}


/*______________________________________________________________Reusable*/
.horizontal-rule {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #DDDDDD;
    height: 0;
    margin: 0;
    position: relative;
    z-index: -99;
}
.horizontal-rule .first {
    background: -moz-radial-gradient(right bottom , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
    left: 0;
    width: 80px;
}
.horizontal-rule span {
    border: medium none;
    display: block;
    height: 80px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -80px;
    z-index: -100;
}
.horizontal-rule .second {
    background: -moz-radial-gradient(left bottom , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
    right: 0;
    width: 80px;
}
.horizontal-rule .third {
    background: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
    top: -80px;
}

.modal form .buttons {
    float: right;
}

.modal form fieldset {
    margin: 0;
    padding: 0;
  }
